<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar-admin.ejs') %>

<div class="jumbotron">
    <h1 class="display-4">Welcome, admin!</h1>
    <p class="lead">Here you can manage the categories and articles available in this platform.</p>
    <hr class="my-4">
  </div>

<%- include ('../partials/footer.ejs') %>